.additional-product {
  overflow-x: hidden;
  padding-top: 30px;
}

.additional-product__title {
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
  padding-right: 40px;
  width: fit-content;
  position: relative;
  background-color: #ffffff;
}

.additional-product__title::before {
  content: "";
  z-index: -1;
  background-color: #68b738;
  width: 100vw;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.additional-product__item-group {
  display: flex;
  justify-content: space-between;
}


.additional-product__header {
  font-family: "Oswald", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #222222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-product__quantity {
  font-family: "Lato", "Arial", sans-serif;
  justify-content: center;
  color: #444444;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.additional-product__price {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.additional-product__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.additional-product__item {
  margin-bottom: 16px;
  border-top: 1px solid #cdcdcd;
}

.additional-product__wrapper {
  display: flex;
  justify-content: space-between;
}

.additional-product__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}


@media (min-width: $tablet-width) {
  .additional-product {
    padding-top: 35px;
  }

  .additional-product__grid {
    padding-top: 30px;
  }

  .additional-product__title {
    font-family: "Oswald", "Arial", sans-serif;
    color: #000000;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 36px;
    padding-left: 40px;
    position: relative;
  }

  .additional-product__item:last-child {
    border-bottom: none;
  }


  .additional-product__title::after {
    content: "";
    background-color: #68b738;
    width: 100vw;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
  }


  .additional-product__item {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    row-gap: 22px;
    padding: 25px 38px 15px;
  }


  .additional-product__header {
    font-family: "Oswald", "Arial", sans-serif;
    color: #222222;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
  }

  .additional-product__quantity {
    font-family: "Lato", "Arial", sans-serif;
    color: #444444;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 135px;
    text-align: right;
  }

  .additional-product__price {
    font-family: "Lato", "Arial", sans-serif;
    color: #444444;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 42px;
    text-align: right;
  }

  .additional-product__list {

    list-style: none;
    border: 1px solid #cdcdcd;
  }


  .additional-product__item-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 49px;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    padding-top: 66px;
  }

  .additional-product__title {
    font-family: "Oswald", "Arial", sans-serif;
    color: #000000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 58px;
    padding-left: 0;
  }

  .additional-product__title::after {
    right: calc(100% + 43px);
  }

  .additional-product__grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 80px;
  }

  .additional-product__list {
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
    max-width: 896px;
  }

  .additional-product__item {
    flex-direction: row;
    align-items: center;
    gap: 0;
    height: 55px;
    padding: 0;
    display: flex;
  }

  .additional-product__header {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #222222;
    text-transform: uppercase;
    flex-shrink: 0;
    width: 322px;
    margin: 0;
    padding: 0;
  }

  .additional-product__item-group {
    flex-direction: row;
    flex-shrink: 1;
    align-items: center;
    gap: 18px;
    display: flex;
    width: auto;
  }

  .additional-product__quantity {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #444422;
    flex-shrink: 0;
    width: 220px;
    margin: 0;

    margin-left: 3px;
    margin-top: 3px;
  }

  .additional-product__price {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: #444444;
    flex-shrink: 0;
    width: 84px;
    margin: 0;
    line-height: 20px;
    margin-left: 7px;
  }
}
